@model BuiVanManh_5951071057_CRUD.Models.Employee

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create" class="form-horizontar">
    <div class="form-group">
        <label class="control-lable">Name</label>
        <input asp-for="EmpName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-lable">City</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-lable">State</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-lable">Country</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-lable">Departmant</label>
        <input asp-for="Departmant" class="form-control" />
    </div>
    <div class="form-group">
        <
        <input type="submit" value="submit" class="btn btn-primary" />
    </div>

</form>



